@import "general.css";


                                        /* COURS */
.affichageCours {
    /* border: 1px solid #000; */
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cours {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.coursId {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 4%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coursCode {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 4%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coursTitre {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.coursTitre>a {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--blue);
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #ccc;
}

.coursLangage {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coursModif {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coursModif>a {
    text-decoration: none;
    color: var(--red);
}

.ajouterCours {
    width: 95%;
    height: 25%;
    margin-bottom: 100px;
}

                                        /* ETUDIANTS */

.affichageEtudiants {
    /* border: 1px solid #000; */
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.etudiants {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.etudiantId {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 4%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etudiantPrenom {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etudiantNom {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etudiantAge {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 5%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etudiantMail {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

                                        /* INSCRIPTION */
.inscription {
    width: 30%;
    height: 50%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscription>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.inscription>form>input {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ccc;
}

